html {
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 960px;
  margin-left: 5rem;
}

#SAS-Logo {
  height: 1.5rem;
  width: auto;
  padding: 0.66rem, 1rem, 0.66rem, 0.5rem;
}

.logo h3 {
  margin-left: 1rem;
  font-size: 1rem;
}

/* Main Banner */

.container {
  display: flex;
  align-items: flex-start;
  height: 25rem;
  width: 100%;
  background: url("../images/moto.jpeg") no-repeat center center;
  background-size: cover;
}

.blackbox {
  background-color: black;
  width: 30%;
  height: auto;
  margin-top: 9rem;
  margin-left: 5rem;
  padding-right: 1rem;
}

.blackbox h3 {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 0.25rem;
    padding-left: 3rem;
}

.blackbox h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: firebrick;
  height: 3rem;
}

nav select {
  display: none;
}

span a {
  color: white;
  text-decoration: none;
}

/* Cataglogue First Attempt */
/*.catalogue {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 4px solid black;
  margin: 3rem auto;
  width: 30%;
}

.item img {
  margin: 2rem auto;
  height: 9rem;
  width: auto;
  align-self: center;
}

#glasses {
  width: 55%;
  height: auto;
}

.item p {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
} */

/* Catalogue Second attempt */

.whitespace {
  background-color: white;
}

.catalogue {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 3rem;
}

.item {
  display: block;
  border: 4px solid black;
  width: 20%;
}

.item-image {
  text-align: center;
  padding: 2rem;
}

.item img {
  height: 9rem;
  width: auto;
  align-self: center;
}

/* First attempt
.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.item img {
  height: 9rem;
  width: auto;
}

*/

.item-glasses {
  display: block;
  border: 4px solid black;
  width: 20%;
}

#glasses {
  margin: 2.4rem auto;
  width: 70%;
  height: auto;
}

.item-desc {
  background-color: black;
  color: white;
  height: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

/* Contact and Location */

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.small-box {
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 35%;
  height: 5rem;
}

.location p {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.gridref {
  background-color: white;
  color: black;-
  padding-top: 0.25rem;
}




/* Footer */

footer {
  display: flex;
  align-items: center;
  text-align: left;
  height: 5rem
}

footer p {
    margin-left: 5rem;
}

@media only screen and (max-width: 1024px) {
.logo {
  margin-left: 0.75rem;
}

.blackbox {
  width: 40%;
  margin-left: 0;
  padding-right: 2rem;
}

nav span {
  display: none;
}
  nav select {
  display: inline-block;
  background-color: firebrick;
  color: white;
  font-size: 1rem;
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px; /*dropdown arrow still removed if this is code and one below is erased - maybe for different browser */
  text-overflow: '';
}

.catalogue {
  display: flex;
  justify-content: space-around;
}
.item {
  width: 40%;
}

.item-glasses {
    display: none;
  }

.small-box {
  width: 40%;
}
